header{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.header-localisation{
    text-align: center;
    background-color: #eaeaea;
    &__icon{
        display: inline-block;
    }
    &__place{
        display:inline-block;
        padding-left: 10px;
    }
}