// CONTAINER <a> DES CARDES
.restaurant-link {
    display: block;
    margin: 0;
    padding: 0;
    margin: 0;
}

// PARTIE AVEC LES CARDS
.restaurants {
    // PARTIE AVEC LES CARDS
    background-color: #f6f6f6;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    @include tablette-only {
        padding-bottom: 20px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    @include desktop-only {
        padding-bottom: 30px;
        flex-wrap: wrap;
    }
    &__h2 {
        text-align: left;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
        padding-top: 40px;

        @include mobile-m-only {
            font-size: 22px;
        }

        @include mobile-l-only {
            font-size: 26px;
        }

        @include tablette-only {
            font-size: 36px;
            margin-bottom: 0;
            padding: 0;
            margin-right: 760px;
        }
        @include desktop-only {
            font-size: 40px;
            margin-bottom: 0;
            padding: 0;
            margin-right: 760px;
        }

        @include desktop-only {
            font-size: 49px;
            margin-bottom: 0;
            padding: 0;
            margin-right: 0px;
        }
    }

    &__cards {
        // LES CARDS
        margin: 0;
        min-width: 280px;
        min-height: 215px;
        max-height: 215px;
        position: relative;
        z-index: 1;

        @include mobile-m-only {
            min-height: 235px;
            max-height: 235px;
        }

        @include mobile-l-only {
            min-height: 255px;
            max-height: 255px;
        }

        @include tablette-only {
            min-height: 245px;
            max-height: 245px;
            min-width: 350px;
        }

        &__images {
            width: 100%;
            min-height: 155px;
            max-height: 155px;
            object-fit: cover;
            vertical-align: middle;
            overflow: hidden;
            border-radius: $radius-figure;
            z-index: -1;

            @include mobile-m-only {
                min-height: 165px;
                max-height: 165px;
            }

            @include mobile-l-only {
                min-height: 175px;
                max-height: 175px;
            }

            @include tablette-only {
                min-height: 170px;
                max-height: 170px;
            }

        }

        &__figcaption {
            width: 100%;
            background-color: white;
            margin: 0;
            height: 65px;
            position: absolute;
            display: flex;
            flex-direction: column;
            border-radius: $radius-figcaption;
            z-index: 1;

            @include mobile-m-only {
                height: 75px;
                height: 75px;
            }

            @include mobile-l-only {
                height: 85px;
                height: 85px;
            }

            @include tablette-only {
                min-height: 80px;
                max-height: 80px;
            }

            &__title {
                // Nom du resto
                width: 100%;
                margin: 0;
                margin-top: 10px;
                margin-bottom: 5px;
                margin-left: 15px;
                font-weight: 600;
                font-size: 16px;

                @include mobile-m-only {
                    font-size: 18px;
                }

                @include mobile-l-only {
                    font-size: 20px;
                }

                @include tablette-only {
                    font-size: 24px;
                }
            }

            &__place {
                //Emplecement du resto
                display: block;
                width: 100%;
                margin: 0;
                margin-left: 15px;
                padding-bottom: 15px;
                font-weight: 400;
                font-size: 14px;

                @include mobile-m-only {
                    font-size: 16px;
                }

                @include mobile-m-only {
                    font-size: 18px;
                }
            }

            &__heart {
                //Emplecement du coeur
                display: block;
                margin: 0;
                padding: 0;
                position: relative;
                left: 245px;
                bottom: 45px;
                font-size: 20px;
                min-width: 280px;

                @include mobile-m-only {
                    left: 285px;
                    bottom: 50px;
                    font-size: 24px;
                }

                @include mobile-l-only {
                    left: 335px;
                    bottom: 55px;
                    font-size: 26px;
                }

                @include tablette-only {
                    left: 290px;
                    bottom: 60px;
                    font-size: 32px;
                }
            }

            &__new {
                //Mise en forme box NOUVEAU
                display: block;
                margin: 0;
                padding: 5px;
                width: fit-content;
                color: $colour-font-new;
                background-color: $colour-bcg-new;
                position: relative;
                bottom: 200px;
                left: 210px;
                border-radius: 2px;
                font-size: 12px;
                font-weight: 600;

                @include mobile-m-only {
                    left: 260px;
                    bottom: 220px;
                    font-size: 14px;
                }

                @include mobile-l-only {
                    left: 305px;
                    bottom: 230px;
                    font-size: 16px;
                }

                @include tablette-only {
                    left: 230px;
                    bottom: 240px;
                    font-size: 22px;
                }
            }
        }
    }
}