.header-menu{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
        margin: 0;
        background-color: white;
        @include tablette-only{
            padding-bottom: 50px;
        }
        &__h1{
            font-size: 30px;
            font-weight: 500px;
            text-align: center;
            font-family: 'Shrikhand', cursive;
            margin: 0;
            @include mobile-m-only{
                font-size: 32px;
            }
            @include tablette-only{
                font-size: 70px;
            }
            @include desktop-only{
                font-size: 80px;
            }
        }
        &__arrow{
            position: relative;
            right: 130px;
            top: 30px;
            font-size: 22px;
            @include mobile-m-only{
                font-size: 24px;
                top: 30px;
                right: 150px;
            }
            @include mobile-l-only{
                font-size: 26px;
                top: 30px;
                right: 160px;
            }
            @include tablette-only{
                font-size: 70px;
                top: 65px;
                right: 300px;
            }
            @include desktop-only{
                font-size: 80px;
                top: 75px;
                right: 400px;
            }
        }
    }



