.header-menu{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
        margin: 0;
        background-color: white;
        @include tablette-only{
            
            padding-bottom: 10px;
            height: 60px;
        }
        @include desktop-only{
            height:70px;
        }
        @include desktop-L-only{
            height:130px;
        }
        &__h1{
            font-size: 22px;
            font-weight: 500;
            text-align: center;
            font-family: 'Shrikhand', cursive;
            margin: 0;
            @include mobile-m-only{
                font-size: 26px;
                padding-bottom: 10px;
            }
            @include mobile-l-only{
                font-size: 28px;
                padding-bottom: 10px;
            }
            @include tablette-only{
                font-size: 50px;
                padding-bottom: 0;
            }
            @include desktop-only{
                font-size: 60px;
            }
            @include desktop-only{
                font-size: 60px;
            }
        }
        &__arrow{
            position: relative;
            right: 130px;
            top: 23px;
            font-size: 20px;
            @include mobile-m-only{
                font-size: 22px;
                top: 25px;
                right: 150px;
            }
            @include mobile-l-only{
                font-size: 24px;
                top: 25px;
                right: 160px;
            }
            @include tablette-only{
                font-size: 40px;
                top: 45px;
                right: 300px;
            }
            @include desktop-only{
                font-size: 50px;
                top: 55px;
                right: 400px;
            }
        }
    }



