// Tout le texte en roboto
*{
   font-family: 'Roboto', sans-serif;
}
// !PARTIE ACCUEIL
// ?TYPO HEADER
// Titre h1
.header-h1{
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
}
// Titre partie explore
.explore{
    &__h2{
    font-size: 22px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    }
    &__h3{
        font-size: 16px;
        font-weight: 300;
    }
}
// Titre FONCTIONNEMENT
.functioning{
    &__h2{
        text-align: left;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}
// Titre RESTAURANTS
.restaurants{
    &__h2{
        text-align: left;
        font-size: 24px;
        font-weight: 700;
    }
}

// !PARTIE MENU
//Titre du restaurant
.restaurant-title{
&__text{
    font-weight: 500;
    font-size: 24px;
    font-family: 'Shrikhand', cursive;
}
&__heart{
    font-size: 24px;
    margin-right: 15px;
}
}

.menu-complete-part-title{
    font-size: 15px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
}

// !TYPO FOOTER
// Titre du FOOTER
.footer-h4 {
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-h5{
    font-size: 12px;
    margin: 3px;
}


// Mise en forme des liens
a {
    text-decoration: none;
}
a:visited{
    color: black;
}

