body {
    width: 100%;
    height: auto;
    margin: auto;
}
// Partie réservation
.explore{
    background-color: #f6f6f6;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    &__title{
        padding-left: 25px;
        padding-right: 25px;
    }
    &__text{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 30px;
    }
}

.functioning{
    margin-top: 30px;
    padding-left: 29px;
    padding-right: 20px;
    padding-bottom: 30px;
    text-align: center;
    &__title{
        text-align: left;
        margin: 0;
        margin-left: -9px;
        margin-bottom: 20px;
    }
    &__btn{
        text-align: left;
    }
    &__number{
        display: inline-block;
        position:relative;
        right: 15px;
        border: 1px solid black;
        width: 18px;
        height: 18px;
        line-height: 19px;
        border-radius: 50%;
        text-align: center;
        background-color: $colour-primary;
        color: white;
        border: none;
    }
}
.restaurants{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &__title{
        margin: 0;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

